/* ALL variables */
:root {
  --primary-bg-color: #10104a;
  --primary-text-color: #f4e7f6;
  --maze-bg-color: #000000;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

#main {
  width: 100vw;
  height: 100vh;
}
#maze_container {
  background-color: var(--maze-bg-color);
  width: 550px;
  height: 550px;
}
#param_container {
  height: 100px;
  width: 500px;
}

.centered_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col_dir {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h_centered {
  margin: 0 auto;
}
.default_button {
  width: 50px;
  height: 30px;
}
.square_button {
  width: 50px;
  height: 50px;
}