/* ALL variables */
:root {
  --primary-bg-color: #10104a;
  --primary-text-color: #f4e7f6;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

#main {
  width: 100vw;
  height: 100vh;
}
#maze_container {
  width: 500px;
  height: 500px;
}

.h_centered {
  margin: 0 auto;
}
.default_button {
  width: 30px;
  height: 15px;
}